.body {
    background-image: url("./assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.welcome-text {
    font-size: 1.8rem;
    color: antiquewhite;
}

.welcome-div {
    background-color: #935700;
}

.p-welcome-text {
    margin: 15px;
    padding: 15px;
}